<%= link_to '掲示板一覧へ', :controller =>'ekimae_board', :action=>'index' %>
<h1><%= h @select_board.title %></h1>
<h2><%= h @select_board.description %></h2>
<div id="item_form_block" class="forms">
<%= render :partial => 'form' %>
</div>
<br />
<%= render :partial => 'board' %>
