<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= javascript_include_tag :defaults ,:cache => "life_memo" %><!-- JavaScript -->
  <%= stylesheet_link_tag 'life_memos' %><!-- StyleSheet -->
  <title>掲示板(ﾓﾊﾞｲﾙ版): <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body class="board_image" >
<p style="color: green"><%= flash[:notice] %></p>
<div id="err_msg_id" class="err_msg"><%= flash[:error] %></div><br>
<%= yield %>
</body>
</html>
